// root colors and properties here! 
:root {
    // colors:
    --dark-color: #000000;
    --light-color: #FFFFFF;
    --accent-color: #7E4BDE;
    --black-text: #252525;
    --hover-color: #570DE1;
    // paddings:
    --12-padding:0.75rem;
    --8-padding:0.5rem;
    --16-padding:1rem;
    --32-padding:2rem;
    --100-padding:6rem;

}