@charset "UTF-8";
/* Обнуление стилей */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  text-decoration: none;
}
a:focus, a:active {
  outline: none;
}

footer {
  display: block;
}

img {
  vertical-align: top;
  max-width: 100%;
}

/* Типографика */
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

a {
  color: inherit;
  color: initial;
}

p {
  margin-block: 0;
  --paragraphMarginBottom: 24px;
}
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/* Формы */
input, button, textarea {
  font-family: inherit;
}
input:clear, button:clear, textarea:clear {
  display: none;
}

button {
  all: initial;
}

/* Списки */
ul, ol {
  padding-left: 0;
}

ul[class] {
  list-style: none;
}

/* Дополнительные стили */
body,
blockquote,
figure:where([class]) {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl:where([class]) {
  margin-block: 0;
}

dd[class] {
  margin-left: 0;
}

fieldset[class] {
  margin-left: 0;
  padding: 0;
  border: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --dark-color: #000000;
  --light-color: #FFFFFF;
  --accent-color: #7E4BDE;
  --black-text: #252525;
  --hover-color: #570DE1;
  --12-padding:0.75rem;
  --8-padding:0.5rem;
  --16-padding:1rem;
  --32-padding:2rem;
  --100-padding:6rem;
}

body, html {
  font-size: 16px;
  background-color: var(--dark-color);
  scroll-behavior: smooth;
  color: var(--light-color);
  font-family: "Lato", sans-serif;
  font-style: normal;
}

h1 {
  font-size: clamp(44px, 3.75vw, 72px);
  line-height: 4.2rem;
  text-wrap: balance;
}

p, a {
  font-size: 16px;
}

a {
  color: var(--light-color);
}

a.btn-cta {
  width: 256px;
  height: 56px;
  padding: 1rem 0.5rem;
  border-radius: 12px;
  border: none;
  text-align: center;
  letter-spacing: 2px;
  font-size: clamp(16px, 1.041vw, 20px);
  background-color: var(--accent-color);
  transition: background-color 3ms ease-out;
  color: var(light-color);
}
@media (hover: hover) {
  a.btn-cta:hover {
    background-color: var(--hover-color);
  }
}
@media (hover: none) {
  a.btn-cta:active {
    background-color: var(--hover-color);
  }
}
@media (max-width: 500px) {
  a.btn-cta {
    width: 120px;
  }
}

.center {
  margin-inline: auto;
  display: block;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  overflow-x: hidden;
}
@media (max-width: 1440px) {
  .wrapper {
    max-width: 1440px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    max-width: 768px;
  }
}
@media (max-width: 500px) {
  .wrapper {
    max-width: 500px;
  }
}
@media (max-width: 393px) {
  .wrapper {
    max-width: 393px;
  }
}

.header {
  width: 100%;
  height: 100px;
  margin-bottom: var(--100-padding);
}
.header-content {
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  gap: var(--8-padding);
  padding-inline: var(--12-padding);
  align-items: center;
  height: 100px;
}
@media (max-width: 1440px) {
  .header-content {
    max-width: 1440px;
  }
}
@media (max-width: 768px) {
  .header-content {
    max-width: 768px;
  }
}
@media (max-width: 500px) {
  .header-content {
    max-width: 500px;
  }
}
@media (max-width: 393px) {
  .header-content {
    max-width: 393px;
  }
}
@media (max-width: 500px) {
  .header-content {
    justify-content: center;
    padding-inline: 4px;
  }
}
.header-logo {
  justify-content: flex-start;
  display: flex;
  flex-shrink: 1;
}
.header .logo {
  width: 100px;
  height: 100px;
  max-width: 100%;
}
@media (max-width: 500px) {
  .header .logo {
    width: 60px;
    height: 60px;
  }
}
.header-links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: var(--32-padding);
}
@media (max-width: 500px) {
  .header-links {
    gap: var(--16-padding);
  }
}
.header-link--item {
  transition: -webkit-text-decoration 0.3ms ease-out;
  transition: text-decoration 0.3ms ease-out;
  transition: text-decoration 0.3ms ease-out, -webkit-text-decoration 0.3ms ease-out;
  text-decoration: none;
}
@media (hover: hover) {
  .header-link--item:hover {
    -webkit-text-decoration: underline 3px var(--hover-color);
            text-decoration: underline 3px var(--hover-color);
  }
}
@media (hover: none) {
  .header-link--item:active {
    -webkit-text-decoration: underline 3px var(--hover-color);
            text-decoration: underline 3px var(--hover-color);
  }
}
.header .header-btn {
  display: flex;
  justify-content: flex-end;
}

.main {
  padding-inline: 4px;
  width: 100%;
  max-width: 1920px;
}
@media (max-width: 1440px) {
  .main {
    max-width: 1440px;
  }
}
@media (max-width: 768px) {
  .main {
    max-width: 768px;
  }
}
@media (max-width: 500px) {
  .main {
    max-width: 500px;
  }
}
@media (max-width: 393px) {
  .main {
    max-width: 393px;
  }
}

.hero {
  width: 100%;
  height: 650px;
  margin-bottom: var(--100-padding);
}
.hero-content {
  width: 100%;
  padding-inline: 8rem;
  padding-top: 12px;
  display: flex;
  flex-direction: row;
  gap: 120px;
}
@media (max-width: 500px) {
  .hero-content {
    flex-direction: column-reverse;
    padding-inline: 1rem;
  }
}
.hero-text {
  display: flex;
  flex-direction: column;
}
.hero-title {
  margin-bottom: var(--32-padding);
}
@media (max-width: 768px) {
  .hero-title {
    margin-bottom: var(--12-padding);
  }
}
.hero-title--item {
  line-height: normal;
  width: 100%;
  text-wrap: wrap;
  text-align: left;
}
@media (max-width: 500px) {
  .hero-title--item {
    text-align: center;
  }
}
.hero-subtitle {
  margin-bottom: var(--32-padding);
}
@media (max-width: 768px) {
  .hero-subtitle {
    margin-bottom: var(--12-padding);
  }
}
.hero-subtitle--item {
  text-align: left;
  width: 100%;
}
@media (max-width: 500px) {
  .hero-subtitle--item {
    text-align: center;
  }
}
.hero-cta {
  margin-bottom: var(--32-padding);
}
@media (max-width: 768px) {
  .hero-cta {
    margin-bottom: var(--12-padding);
  }
}
.hero-animation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .hero-animation {
    width: 500px;
    height: 500px;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .hero-animation {
    justify-content: center;
    align-items: center;
  }
}
.hero-animation img {
  max-width: 100%;
  width: auto;
  height: 100%;
  margin-left: 120px;
}
@media (max-width: 768px) {
  .hero-animation img {
    width: 320px;
    height: 320px;
  }
}
@media (max-width: 500px) {
  .hero-animation img {
    width: 100%;
    max-width: 100%;
    margin-inline: auto;
  }
}

.services {
  width: 100%;
  max-width: 1920px;
  padding-inline: 4px;
  height: 650px;
  margin-top: 32vh;
}
@media (max-width: 1440px) {
  .services {
    max-width: 1440px;
  }
}
@media (max-width: 768px) {
  .services {
    max-width: 768px;
  }
}
@media (max-width: 500px) {
  .services {
    max-width: 500px;
  }
}
@media (max-width: 393px) {
  .services {
    max-width: 393px;
  }
}
.services-content {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: row;
  gap: var(--32-padding);
  justify-content: space-around;
}

.box {
  width: 33.3%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  background-color: var(--light-color);
  border-radius: 12px;
  border: none;
  margin-bottom: 32px;
}
.box-title {
  width: 100%;
}
.box-title--item {
  font-size: clamp(25px, 1.3vw, 30px);
  text-align: center;
  color: var(--accent-color);
  text-wrap: balance;
  margin-bottom: 32px;
}
.box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-icon--item {
  max-width: 32px;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}
.box-paragraph {
  width: 100%;
  height: auto;
}
.box-paragraph--item {
  color: var(--black-text);
  text-wrap: balance;
  text-align: center;
  margin-bottom: 32px;
  padding-inline: 2px;
}

.benefits {
  margin-top: 32vh;
  width: 100%;
  max-width: 1920px;
  height: auto;
  max-height: 100vh;
}
@media (max-width: 1440px) {
  .benefits {
    max-width: 1440px;
  }
}
@media (max-width: 768px) {
  .benefits {
    max-width: 768px;
  }
}
@media (max-width: 500px) {
  .benefits {
    max-width: 500px;
  }
}
@media (max-width: 393px) {
  .benefits {
    max-width: 393px;
  }
}
.benefits-content {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.benefits-text {
  margin-bottom: 0.5rem;
  width: 100%;
}
.benefits-text--title {
  margin-bottom: 2rem;
  text-align: center;
  font-size: clamp(25px, 1.3vw, 30px);
  text-align: center;
  color: var(--accent-color);
}
.benefits-text--subtitle {
  margin-bottom: 2rem;
  text-align: center;
}
.benefits-picture {
  width: 100%;
  height: 380px;
  border: none;
}
.benefits-picture--item {
  max-width: 100%;
  display: block;
  margin-inline: auto;
}
.benefits-text--item {
  text-align: center;
  text-wrap: balance;
  font-size: clamp(25px, 1.3vw, 30px);
  text-align: center;
  color: var(--accent-color);
}

.portfolio {
  margin-top: 32vh;
  width: 100%;
  max-width: 1920px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1440px) {
  .portfolio {
    max-width: 1440px;
  }
}
@media (max-width: 768px) {
  .portfolio {
    max-width: 768px;
  }
}
@media (max-width: 500px) {
  .portfolio {
    max-width: 500px;
  }
}
@media (max-width: 393px) {
  .portfolio {
    max-width: 393px;
  }
}
.portfolio-row-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--32-padding);
}
@media (max-width: 768px) {
  .portfolio-row-content {
    flex-direction: column;
    gap: var(--12-padding);
  }
}
.portfolio-box {
  width: 33.3vw;
  height: 600px;
  padding: 12px;
  margin-bottom: 36px;
}
@media (max-width: 768px) {
  .portfolio-box {
    width: 100vw;
    padding: 8px;
  }
}
.portfolio-title {
  width: 100%;
  margin-bottom: var(--32-padding);
}
.portfolio-title--item {
  font-size: clamp(25px, 1.3vw, 30px);
  text-align: center;
  line-height: 1;
  color: var(--accent-color);
}
.portfolio-animation {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  margin-bottom: var(--32-padding);
}
.portfolio-animation--item {
  width: 500px;
  height: 420px;
  margin-bottom: var(--32-padding);
}
.portfolio-paragraph {
  width: 100%;
}
.portfolio-paragraph--item {
  text-align: center;
  text-wrap: balance;
  margin-bottom: 12px;
}

.social {
  margin-top: 32vh;
  width: 100%;
  max-width: 1920px;
  height: auto;
}
@media (max-width: 1440px) {
  .social {
    max-width: 1440px;
  }
}
@media (max-width: 768px) {
  .social {
    max-width: 768px;
  }
}
@media (max-width: 500px) {
  .social {
    max-width: 500px;
  }
}
@media (max-width: 393px) {
  .social {
    max-width: 393px;
  }
}
.social-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--32-padding);
  padding: 12px;
}
.social-content-item {
  height: auto;
  width: auto;
}
.social-picture {
  width: 65px;
  height: 65px;
}
.social-picture--item {
  max-width: 100%;
  width: 65px;
  height: 65px;
  transition: filter 3ms ease-in;
  filter: none;
}
@media (hover: hover) {
  .social-picture--item:hover {
    filter: drop-shadow(8px 8px 4px var(--hover-color));
  }
}
@media (hover: none) {
  .social-picture--item:active {
    filter: drop-shadow(8px 8px 4px var(--hover-color));
  }
}

.footer {
  width: 100%;
  max-width: 1920px;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  left: 0;
  bottom: 0;
  opacity: 0.3;
}
@media (max-width: 1440px) {
  .footer {
    max-width: 1440px;
  }
}
@media (max-width: 768px) {
  .footer {
    max-width: 768px;
  }
}
@media (max-width: 500px) {
  .footer {
    max-width: 500px;
  }
}
@media (max-width: 393px) {
  .footer {
    max-width: 393px;
  }
}/*# sourceMappingURL=style.css.map */