body, html {
font-size: 16px; 
background-color: var(--dark-color);
scroll-behavior: smooth;
color: var(--light-color);
font-family: "Lato", sans-serif;
  font-style: normal;

}
h1 {
    @include fluid-h1;
}
p, a {
    @include fluid-text;
}
a {
    color: var(--light-color);
}
a.btn-cta {
    @include cta;
}
.center {
    margin-inline: auto;
    display: block;
}
