.footer {
    @include responsive-block;
    height: auto;
    display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  left: 0;
  bottom: 0;
  opacity: 0.3;
}
// ------