.main {
    padding-inline: 4px;
    @include responsive-block;
}
.hero {
    width: 100%;
    height: 650px;
    margin-bottom: var(--100-padding);
    
    &-content { 
        width: 100%;
        padding-inline: 8rem;
        padding-top: 12px;
        display: flex;
        flex-direction: row;
        gap: 120px;
        
        @include mobile {
            flex-direction: column-reverse;
            padding-inline: 1rem;
           
        }

    }
    &-text {
        display: flex;
        flex-direction: column;

    }
    &-title {
        margin-bottom: var(--32-padding);
        @include tablet {
            margin-bottom: var(--12-padding);
        }

    }
    &-title--item {
        line-height: normal;
        width: 100%;
        text-wrap: wrap;
        text-align: left;
        @include mobile {
            text-align: center;
        }
    }
    &-subtitle {
        margin-bottom: var(--32-padding);
        @include tablet {
            margin-bottom: var(--12-padding);
        }

    }
    &-subtitle--item {
        text-align: left;
        width: 100%;
        @include mobile {
            text-align: center;
        }

    }
    &-cta {
        margin-bottom: var(--32-padding);
        @include tablet {
            margin-bottom: var(--12-padding);
        }
    }
    &-animation { 
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        @include tablet {
            width: 500px;
            height: 500px;
            align-items: center;
        }
        
      @include mobile {
        justify-content: center;
        align-items: center;
      }
         img {
            max-width:100%;
            width: auto;
            height: 100%;
            margin-left: 120px;
            @include tablet {
                width: 320px;
                height: 320px;
            }
            @include mobile {
                width: 100%;
                max-width: 100%;
                margin-inline: auto;
            }
         }
    }
}
// --------------
.services {
    @include responsive-block;
    padding-inline:  4px;
    height: 650px;
    margin-top:32vh;
    

&-content {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    gap: var(--32-padding);
    justify-content: space-around;
} }
.box {
    width: 33.3%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    background-color: var( --light-color);
    border-radius: 12px;
    border: none;
    margin-bottom: 32px;

&-title {
width: 100%;

}
&-title--item {
@include fluid-title;
color: var(--accent-color);
text-wrap: balance;
margin-bottom: 32px;

}
&-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
&-icon--item {
    max-width: 32px;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
 }
    
       

&-paragraph {
    width: 100%;
    height: auto;


}
&-paragraph--item {
    color: var(--black-text);
    text-wrap: balance;
    text-align: center;
    margin-bottom: 32px;
    padding-inline: 2px;
}
} 
// ----------
.benefits {
    margin-top: 32vh;
    @include responsive-block;
    height: auto;
    max-height: 100vh;
&-content {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    }
&-text {
    margin-bottom: 0.5rem;
    width: 100%;

    }
&-text--title {
    margin-bottom: 2rem;
    text-align: center;
    @include fluid-title;
    color: var(--accent-color);

    }
&-text--subtitle {
    margin-bottom: 2rem;
    text-align: center;

    }
&-picture {
    width: 100%;
    height: 380px;
    border: none;


    }
&-picture--item {
    max-width: 100%;
    display: block;
    margin-inline: auto;
    }
&-text--item {
    text-align: center;
    text-wrap: balance;
    @include fluid-title;
    color: var(--accent-color);
    }
}
// --------

.portfolio {
margin-top: 32vh;
@include responsive-block;
height: auto;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

&-row-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--32-padding);
    @include tablet {
        flex-direction: column;
        gap: var(--12-padding);
    }

}
&-box {
    width: 33.3vw;
    height: 600px;
    padding: 12px;
    margin-bottom: 36px;
    @include tablet {
        width: 100vw;
        padding: 8px;
    }

}
&-title {
    width: 100%;
    margin-bottom: var(--32-padding);
    

}
&-title--item {
    @include fluid-title;
    line-height: 1;
    color: var(--accent-color);

}
&-animation {
    width: 100%;
    height:auto;
    margin-bottom: 2rem;
    margin-bottom: var(--32-padding);
    
  

}
&-animation--item {
    width: 500px;
    height: 420px;
  
    margin-bottom: var(--32-padding);
   
  

}
&-paragraph {
   width: 100%;

}
&-paragraph--item {
    text-align: center;
    text-wrap:balance;
    margin-bottom: 12px;


}
}
.social {
margin-top: 32vh;
@include responsive-block;
height: auto;
&-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--32-padding);
    padding: 12px;
}
&-content-item {
    height: auto;
    width: auto;

}
&-picture {
    width: 65px;
    height: 65px;
}
&-picture--item {
    max-width: 100%;
    width: 65px;
    height: 65px;
    transition: filter 3ms ease-in;
    filter: none;
    @include hover {
        filter: drop-shadow(8px 8px 4px var(--hover-color));

    }
}
}